:root {
        --color-primary: hsl(300, 50%, 5%);
        --color-background-circles: hsl(300, 50%, 7%);
        --color-header: hsl(300, 50%, 8%);
        --color-text: hsl(300, 50%, 90%);
        --color-accent: hsl(240, 80%, 80%);

        --color-tertiary: hsl(360, 80%, 80%);
    }
.light {
        --color-primary: hsl(300, 50%, 90%);
        --color-secondary: hsl(300, 50%, 10%);
        --color-tertiary: hsl(360, 80%, 20%);
        --color-accent: hsl(240, 80%, 20%);
    }

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Mono", "verdana";
    box-sizing: border-box;
    color: var(--color-text);
    text-decoration: none;
}

body {
    background-color: var(--color-primary);
}

/*  Header  */
header{
    background-color: var(--color-header);
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 0px var(--color-primary);
    z-index: 1;
}

.header-logo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.header-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 15px;
    width: 100%;
    list-style-type: none;
}

/*  Main  */
main{
    display: flex;
    flex-wrap: wrap;
}

.images{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}

.images img{
    padding: 40px;
    width: 100%;
    height: auto;
}

.images img:hover{
    filter: brightness(110%);
}

.text{
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.in-text-anchor{
    color: var(--color-accent);
}

/*  Phone-changes   */
@media screen and (max-width: 768px){
    .images{
        width: 100%;
    }
    .text{
        width: 100%;
    }
}